<main class="col-md-12 m-auto col-lg-10 px-md-4 tabelaCrud">
    <h2 class="mt-5">Issues Git</h2>
    <button class="btn btn-primary issueCreate">Criar Issue</button>
    <div class="table-responsive">
        <table class="table table-dark table-striped table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Repositório</th>
                    <th scope="col">Issue</th>
                    <th scope="col">Issue URL</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Pizza</td>
                    <td>Nome Issue</td>
                    <td>https://urldaissue.com.br</td>
                    <td>
                        <div class="container">
                            <div class="row">
                                <div class="col"><button type="button" class="btn btn-success"><i class="fa-solid fa-pencil"></i> Editar</button></div>
                                <div class="col"><button type="button" class="btn btn-danger"><i class="fa-solid fa-trash"></i> Apagar</button></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>