<header class="d-flex justify-content-between aling-items-center bg-dark">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="https://git-scm.com/images/logos/2color-lightbg@2x.png" alt="" class="logoImagem">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsButton" aria-controls="navbarsButton" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse justify-content-center crudItems" id="navbarsButton">
            <h1 class="d-flex justify-content-end titleHeader"> CRUD Git Issues </h1>
            <button type="button" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Criar repositório</button>
          </div>
        </div>
    </nav>
</header>