header {
    margin: 0;
}

nav {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
}
.logoImagem {
    max-width: 250px;
    width: 100%;
}

.crudItems h1, button {
    margin: 0 20px;
}

.titleHeader {
    color: #fafafa;
}